.navbar {
    background-color: rgb(82 3 1);
    border: 2px solid rgb(32, 31, 31);
    border-radius: 30px;
    margin: 13px;
}

body {

    background: url(/images/images\ \(2\).jpeg) no-repeat center center/cover;
}

footer p {
    color: white;
    /* border: 2px solid red; */
    margin: 31px;
    padding: 30px;
}

.mainclass {
    color: rgb(255 171 171);
    /* border: 2px solid red; */
    text-align: center;
    margin: 60px 44px;


}




.navbar ul {
    overflow: auto;
}

.navbar li {

    float: left;
    list-style: none;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin: 4px;
}

a:hover {
    color: black;
}

.search {

    float: right;
    padding: 2px 42px;
    margin: 5px;
}